.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thrive-nav-items > a {
  color: #d8564bbb !important;
}

.thrive-home-text-dark {
  width: 100%;
}

.thrive-placeholder-small {
  width: 15em;
  height: auto;
}

.thrive-home-text-light {
  padding: 5%;
}

.thrive-card-group-home {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
}

.thrive-card-home {
  margin-left: 10%;
  margin-right: 10%;
}

.thrive-about-whole {
  margin-left: 10%;
  margin-right: 10%;
}

.thrive-about-section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.thrive-contact-form {
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.homeImage {
  position: block;
  background-image: url('assets/ThriveHomeMain.webp');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.homeLoopText {
  position: absolute;
  bottom: 10%;
  font-size: 2em;
  max-width: 85%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .thrive-home-responsive {
    display: none;
  }
  .homeLoopText {
    display: none;
  }
  .thrive-home-text-light {
    padding: 5%;
  }
  .text-box-image {
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}

.homeLoopText > div > span {
  color: white;
  margin-left: .5em;
}

.footer-header {
  color: lightgrey;
}